@model ClinicalStudy.Site.Areas.DataCapture.Models.VisitViewModel
<div id="visitContainer@(Model.Id)" class="visitPanel">

	<h2 class="completed">Visit Information</h2>

	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.Caption)
	<div class="editor-field">
		@Html.DevExpress().Label(s => {
	                               	s.ControlStyle.CssClass = "editor-label";
	                               	s.Text = "Visit Date:";
	                               	s.AssociatedControlName = "VisitDate";
	                               }).GetHtml()
		@Html.DevExpress().Label(s => {
	                               	s.Name = "VisitDate";
	                               	s.Width = 150;
	                               }).Bind(Model.VisitDate.HasValue ? Model.VisitDate.Value.ToShortDateString() : string.Empty).GetHtml()
	</div>
	<div class="editor-field">
		@Html.DevExpress().Label(s => {
	                               	s.ControlStyle.CssClass = "editor-label";
	                               	s.Text = "Visit Time:";
	                               	s.AssociatedControlName = "VisitTime";
	                               }).GetHtml()
    
		@Html.DevExpress().Label(s => {
	                               	s.Name = "VisitTime";
	                               	s.Width = 150;
	                               }).Bind(Model.VisitTime.Value.ToShortTimeString()).GetHtml()
	</div>
	@if (!Model.NoExpectedVisitDate) {
		<div class="editor-field">
			@Html.DevExpress().Label(s => {
		                               	s.ControlStyle.CssClass = "editor-label";
		                               	s.Text = "Expected Visit Date:";
		                               	s.AssociatedControlName = "ExpectedVisitDate";
		                               }).GetHtml()
			@Html.DevExpress().Label(s => {
		                               	s.Name = "ExpectedVisitDate";
		                               	s.Width = 150;
		                               }).Bind(Model.ExpectedVisitDate.HasValue ? Model.ExpectedVisitDate.Value.ToShortDateString() : string.Empty).GetHtml()
		</div>
	}
	@Html.DevExpress().Button(s => {
	                                	s.Name = "btnEditVisit";
	                                	s.SkinID = "Grey";
	                                	s.Text = "Edit";
                                	    s.CausesValidation = false;
	                                	string url = Url.Action("EditVisit", "Visit", new {Area = "DataCapture", visitId = Model.Id});

	                                	s.ClientSideEvents.Click = String.Format(@"function (s,e) {{
																				var ajaxOptions = {{UpdateTargetId : 'visitContainer{0}'}};
																				buttonAjaxClick(s,e, '{1}', ajaxOptions);}}",
											Model.Id, url);
	                                }).GetHtml()


</div>