@model ClinicalStudy.Site.Areas.DataCapture.Models.FormData.VitalsFormViewModel

<h2 class="completed">@Model.FormCaption <abbr title="Case Report Form">CRF</abbr></h2>

<div class="editor-field">
    <div>
	    @Html.DevExpress().Label(s => {
	                               	    s.ControlStyle.CssClass = "editor-label";
	                               	    s.Text = "Actual Time:";
	                               	    s.AssociatedControlName = "ActualTime";
	                                   }).GetHtml()
	    @FormHelpers.PutQueryIcon(Model.ActualTimeQuestionId, Model, Url)
    </div>
	@Html.DevExpress().Label(s => {
	                               	s.Name = "ActualTime";
	                               	s.Width = 150;
	                               }).Bind(Model.ActualTime.HasValue ? Model.ActualTime.Value.ToShortTimeString() : string.Empty).GetHtml()
</div>

<div class="editor-field">
    <div>
	    @Html.DevExpress().Label(s => {
                                          s.ControlStyle.CssClass = "editor-label";
                                          s.Text = "Height, cm:";
                                          s.AssociatedControlName = "Height";
                                        }).GetHtml()
        @FormHelpers.PutQueryIcon(Model.HeightQuestionId, Model, Url)
    </div>
	@Html.DevExpress().Label(s => {
	                               	s.Name = "Height";
	                               	s.Width = 150;
	                               }).Bind(Model.Height).GetHtml()
</div>

<div class="editor-field">
    <div>
	    @Html.DevExpress().Label(s => {
	                               	    s.ControlStyle.CssClass = "editor-label";
	                               	    s.Text = "Weight, kg:";
	                               	    s.AssociatedControlName = "Weight";
	                                   }).GetHtml()
	    @FormHelpers.PutQueryIcon(Model.WeightQuestionId, Model, Url)
    </div>
	@Html.DevExpress().Label(s => {
	                               	s.Name = "Weight";
	                               	s.Width = 150;
	                               }).Bind(Model.Weight).GetHtml()
</div>

<div class="editor-field">
    <div>
	    @Html.DevExpress().Label(s => {
	                               	    s.ControlStyle.CssClass = "editor-label";
	                               	    s.Text = "Temperature, °C:";
	                               	    s.AssociatedControlName = "Temperature";
	                                   }).GetHtml()
	    @FormHelpers.PutQueryIcon(Model.TemperatureQuestionId, Model, Url)
    </div>
	@Html.DevExpress().Label(s => {
	                               	s.Name = "Temperature";
	                               	s.Width = 150;
	                               }).Bind(Model.Temperature).GetHtml()
</div>
	
<div class="editor-field">
    <div>
	    @Html.DevExpress().Label(s => {
	                               	    s.ControlStyle.CssClass = "editor-label";
	                               	    s.Text = "Heart Rate, bpm:";
	                               	    s.AssociatedControlName = "HeartRate";
	                                   }).GetHtml()
	    @FormHelpers.PutQueryIcon(Model.HeartRateQuestionId, Model, Url)
    </div>
	@Html.DevExpress().Label(s => {
	                               	s.Name = "HeartRate";
	                               	s.Width = 150;
	                               }).Bind(Model.HeartRate).GetHtml()
</div>
	
<div class="editor-field">
    <div>
	    @Html.DevExpress().Label(s => {
	                               	    s.ControlStyle.CssClass = "editor-label";
	                               	    s.Text = "Systolic Blood Pressure, mmHg:";
	                               	    s.AssociatedControlName = "BloodPressureSystolic";
	                                   }).GetHtml()
	    @FormHelpers.PutQueryIcon(Model.BloodPressureSystolicQuestionId, Model, Url)
    </div>
	@Html.DevExpress().Label(s => {
	                               	s.Name = "BloodPressureSystolic";
	                               	s.Width = 150;
	                               }).Bind(Model.BloodPressureSystolic).GetHtml()
</div>
	
<div class="editor-field">
    <div>
	    @Html.DevExpress().Label(s => {
	                               	    s.ControlStyle.CssClass = "editor-label";
	                               	    s.Text = "Diastolic Blood Pressure, mmHg:";
	                               	    s.AssociatedControlName = "BloodPressureDiastolic";
	                                   }).GetHtml()
	    @FormHelpers.PutQueryIcon(Model.BloodPressureDiastolicQuestionId, Model, Url)
    </div>
	@Html.DevExpress().Label(s => {
	                               	s.Name = "BloodPressureDiastolic";
	                               	s.Width = 150;
	                               }).Bind(Model.BloodPressureDiastolic).GetHtml()
</div>
@Html.DevExpress().Button(s => {
	                                	s.Name = "btnEditVitals";
	                                	s.SkinID = "Grey";
	                                	s.Text = "Edit";
                                        s.CausesValidation = false;
    
	                                	string url = Url.Action("EditForm", "Form", new {Area = "DataCapture", patientNumber = Model.PatientNumber, visitName = Model.VisitName, formName = Model.FormCaption});
	                                	s.ClientSideEvents.Click = String.Format(@"function (s,e) {{
																				var ajaxOptions = {{UpdateTargetId : 'formPanel{0}'}};
																				buttonAjaxClick(s,e, '{1}', ajaxOptions);}}",
											Model.FormId, url);
	                                }).GetHtml()